[Unit]
Description=power-switch service

# すぐ起動しても時間が補正される前だからログに記載される時間が狂うから、とりあえずsshができるようになってから起動
After=ssh.service

[Service]
EnvironmentFile=/nano/power-switch/main/environmentFile.txt
ExecStart=/nano/power-switch/main/start.sh
ExecStop=/nano/power-switch/main/stop.sh

#起動ユーザを指定
User=pi

[Install]
WantedBy=multi-user.target

